<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= image_tag 'logo.svg', class:"mx-auto h-20 w-auto" %>
    <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Update login information</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email, "Email address", class: "devise-form-label" %>
        <div class="mt-2">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "devise-form-input" %>
        </div>
      </div>

      <div class="field">
        <div class="flex items-center space-x-2">
          <%= f.label :password, "Password", class: "devise-form-label"%> 
          <i class="text-sm">(leave blank if you don't want to change it)</i>
        </div>
        <div class="mt-2">
          <%= f.password_field :password, autocomplete: "new-password", class: "devise-form-input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Password confirmation", class: "devise-form-label" %>
        <div class="mt-2">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "devise-form-input" %>
        </div>
      </div>

      <div class="field mt-10">
        <div class="flex items-center space-x-2">
          <%= f.label :current_password, "Current password", class: "devise-form-label" %>
          <i class="text-sm">(required)</i>
        </div>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "devise-form-input" %>
      </div>

      <div class="mt-2">
        <%= f.submit "Update", class: "devise-submit-button" %>
      </div>
    <% end %>

    <p class="mt-10 text-center text-sm text-red-600">
      <%= link_to "Back", :back %>
    </p>
  </div>
</div>
