<% @products.each do |product| %>
  <%= product.name %>
<% end %>

<div class="flex space-x-2">
  <% @categories.each do |category| %>
    <%= link_to category_path(category) do %>
      <%= category.name %>
    <% end %>
  <% end %>
</div>

<% if current_user && user_signed_in? %>
<div>
I AM A <span class="text-red-500"><%= current_user.role %></span> USER
</div>
<% end %>

<%= link_to "Login", new_user_session_path %> | <%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Edit account", edit_user_registration_path %>

<%= button_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_confirm: "Are you sure you want to logout?" } %>
