<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>EcommerceStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="h-full">
    <%= render 'layouts/shared/full_navigation' %>
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </body>
</html>
